<form>
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" name="url" [(ngModel)]="model.url" class="form-control" placeholder="Write hier your Url...">
      <span class="input-group-btn">
        <button class="btn btn-default" (click)="search()" type="button">Search!</button>
      </span>
    </div>
    <textarea name="content" rows="15" cols="70" maxlength="250" readonly>{{currentVersion?.content}}</textarea>
    <p><a [routerLink]="['']"><h5>Back</h5></a></p>
  </div>
</form>

